<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - MessageHub</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("messageHUB", "Index", "Message", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>

        <div class="container body-content" id="container">
            <div class="row">
                <div class="col-sm-8">
                    <br>
                    @RenderBody()
                </div>

                <div class="col-sm-4">
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="list-group-item-heading">CHAT</h4>
                            <hr style="margin-top: 13px; margin-bottom: 0px;"/>
                        </div>

                        <div ng-controller="chatCtrl" class="panel-body">
                            @Html.Partial("_ChatPartial")
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="list-group-item-heading">NOTIFICATIONS</h4>
                            <hr style="margin-top: 13px; margin-bottom: 0px;"/>
                        </div>

                        <div class="panel-body">
                            Notifications and stuff, yo
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - MessageHub</p>
            </footer>
        </div>

        <script src="~/Scripts/lib/require.js"></script>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
<!-- OJO quitar esta mierda de aqui -->
        <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
        <!-- ? --><script src="~/signalr/hubs"></script>

        <script src="~/Scripts/lib/chat.js"></script>
<!-- hasta aqui -->
    </body>
</html>

<!--@if(User.Identity.IsAuthenticated){
    @: Logged in as @User.Identity.Name
}
else
{
    <form action='@Url.Action("Login","Account")' method='POST'>
          Username : <input name='UserName' />
          Password : <input name='Password' type='password' />
          <input type='submit' value='Login' />
    </form>
}-->